body {
  background-image: url("/images/noise.png");
  font-family: 'Open Sans', sans-serif;
}
#container {
  display: block;
  margin: auto;
  max-width: 924px;
}
h1,
p {
  margin: 20px;
}
#node {
  color: #43853d;
}
.distro-block {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  background: linear-gradient(0deg, #fff, #f5f5f5);
  border: 1px solid #b0b0b0;
  border-radius: 20px;
  width: 400px;
  height: 160px;
}
.none {
  color: #808080;
}
footer {
  text-align: center;
  padding: 10px;
  margin: auto;
  max-width: 700px;
}
