#container {
	display: block;
	margin: auto;
	max-width: 960px;
}

.distro-block {
	display: inline-block;
	margin: 20px;
	padding: 10px;
	background-color: gray;
	border-radius: 20px;
	width: 400px;
}
