body {
	background-image: url("/images/noise.png");
	font-family: 'Open Sans', sans-serif;
}

#container {
	margin: auto;
	max-width: 924px;
}

h1, p {
	margin: 20px;
}

h2, table {
	margin: 10px;
}

#node {
	color: #43853d;
}

#distro-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.distro-block {
	margin: 20px;
	padding: 10px;
	background: linear-gradient( 0deg, white, #f5f5f5 );
	border: 1px solid #b0b0b0;
	border-radius: 20px;
	width: 400px;
}

td {
	padding: 1px;
	padding-right: 4px;
	text-align: center;
	min-width: 30px;
}

.none {
	font-style: normal;
}

footer {
	text-align: center;
	padding: 10px;
	margin: auto;
	max-width: 700px;
}
