body {
	background-image: url("/images/noise.png");
}

#container {
	display: block;
	margin: auto;
	max-width: 960px;
}

.distro-block {
	display: inline-block;
	margin: 20px;
	padding: 10px;
	background: linear-gradient( 0deg, white, #f5f5f5 );
	border: 1px solid #b0b0b0;
	border-radius: 20px;
	width: 400px;
}

footer {
	text-align: center;
	margin: 10px;
}
