include ./mixins/nodeFlavorRow.jade

doctype html
html
	head
		meta(charset='utf-8')
		title nodecompat.com
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='description', content='Node.js version compatibility chart')
		link(rel='stylesheet', href='css/main.css')
	body
		each data, distro in versions
			h2= distro
			table
				thead
					tr
						td &nbsp;
						each versions, codename in data
							td= codename
				tr
					td Stable
					+nodeFlavorRow(data, 'stable', versions)
				tr
					td LTS
					+nodeFlavorRow(data, 'lts', versions)
