doctype html
html
	head
		title nodecompat.com
		// TODO meta tags and stuff
	body
		each data, distro in versions
			h2= distro
			table
				thead
					tr
						td &nbsp;
						each versions, codename in data
							td= codename
				tr
					td Stable
					each versions, codename in data
						td= versions['stable']
				tr
					td LTS
					each versions, codename in data
						td= versions['lts']
