include ./mixins/nodeFlavorRow.jade

doctype html
html
	head
		meta(charset='utf-8')
		title nodecompat.com
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='description', content='Node.js version compatibility chart')
		link(rel='icon', href='images/favicon.ico', type='image/x-icon')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
		link(rel='stylesheet', href='css/main.css')
	body
		div#container
			h1 <span id="node">node</span>compat.com
			p Have a list of Linux distributions you'd like to run on, but not sure what Node versions you have to support? Or maybe that, but in reverse? No problem. nodecompat.com has you covered.
			each data, distro in versions
				div.distro-block
					h2= distros[distro].prettyname
					table
						thead
							tr
								td &nbsp;
								each versions, codename in data
									td= distros[distro].versions[codename].prettyname
						tr
							td Stable
							+nodeFlavorRow(data, 'stable', versions)
						tr
							td LTS
							+nodeFlavorRow(data, 'lts', versions)
			footer
				p(xmlns:dct='http://purl.org/dc/terms/' xmlns:vcard='http://www.w3.org/2001/vcard-rdf/3.0#') <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/"><img src="https://licensebuttons.net/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" /></a><br />To the extent possible under law, <a rel="dct:publisher"href="https://strugee.net/"><span property="dct:title">Alex Jordan</span></a> has waived all copyright and related or neighboring rights to <span property="dct:title">nodecompat.com</span>. This work is published from: <span property="vcard:Country" datatype="dct:ISO3166" content="US" about="https://strugee.net/">United States</span>. Consider contributing to <a href="https://github.com/strugee/nodecompat.com">the source</a>.
				p Node.js and the Node.js logo are trademarks of Joyent, Inc. and are used with its permission. nodecompat.com is not endorsed by or affiliated with Joyent.
